body {
    background-color: #add8e6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: black;
    font-size: 5vh;
}

.calculator-box {
    background-color: grey;
    margin: auto;
    text-align: center;
    height: 70vh;
    width: 30vw;
    border: black solid 5px;
    border-radius: 1%;
}

.calculator-display-math {
    margin: auto;
    margin-top: 1vh;
    height: 15%;
    width: 95%;
    background-color: lightgrey;
    border: black solid 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1%;
    font-size: 2em;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.1vw;
    width: 95%;
    margin: auto;
    margin-top: 5vh;
}

button {
    height: 10vh;
    width: 100%;
    border-radius: 5%;
    border: black solid 2px;
    font-size: 3vh;
}

button.ac, button.plus-minus, button.percent {
    background-color: lightblue;
    color: black;
}

button.divide, button.multiply, button.subtract, button.add, button.equals {
    background-color: peachpuff;
    color: black;
}

button.zero {
    grid-column: span 2;
    background-color: lavender;
    color: black;
}

button.numbers, button.dot {
    background-color: lavender;
    color: black;
}
