body{
    background-color: #add8e6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: black;
}

.calculator-box{
    background-color: grey;
    margin: auto;
    text-align: center;
    height: 75vh;
    width: 30vw;
    border: black solid 5px;
    border-radius: 1%;
}

.calculator-display-math{
    margin: auto;
    margin-top: 1vh;
    height: 15%;
    width: 95%;
    background-color: lightgrey;
    border: black solid 5px;
 
}

.buttons-container{
    margin: auto;
    width: 95%;
    margin-top: 5vh;


}

.function-buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .1vw;
    height: 7.5vh;

}

.num-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background-color: black;
}

button{
    border: black solid 3px;
}
